<!doctype html>

<head>
    <title>Programe builder</title>
    <link href="/static/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body class="dark">

    <div class="page login">
        <h1>Login</h1>

		<form action="/login" method="POST" class="login_form">
			<input name="username" type="text"/> <br />
			<input name="password" type="password"/> <br />
			<input type="submit" value="Log in" />
		</form>
	</div>

    <script src="/static/jquery-1.7.1.min.js"></script>
    <script src="/static/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="/static/all.js" type="text/javascript" charset="utf-8"></script>

</body>